body {
	background-color: #CCC;
	text-align: center;
	font-family: "楷体";
	font-size: 18px;
	color: #000;
}
table {
	font-size: 16px;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: "楷体";
	color: #000;
}